<div class="container-fluid">
  <div class="row">
    <div class="col col-sm-12 col-md-4">
        <div class="card text-center cardBody" style="width: 18rem;">
            <i class="fa 	fa fa-user"></i>
            <div class="card-body">
              <h5 class="card-title">My Details</h5>
              <p class="card-text">View / Update your details</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col col-sm-12 col-md-4">
        <div class="card text-center cardBody" style="width: 18rem;">
          <i class="fa fa fa-plus"></i>
            <div class="card-body">
              <h5 class="card-title">Raise new issue</h5>
              <p class="card-text">Something is not as expected! Tell us here..!</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
  <div class="col col-sm-12 col-md-4">
      <div class="card text-center cardBody" style="width: 18rem;">
          <i class="fa fa-check"></i>
          <div class="card-body">
            <h5 class="card-title">Raised Issues</h5>
            <p class="card-text">Already have raised an issue? Track it here!!</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
      <div class="col col-sm-12 col-md-4">
          <div class="card text-center cardBody" style="width: 18rem;">
              <i class="fa fa-info"></i>
              <div class="card-body">
                <h5 class="card-title">About</h5>
                <p class="card-text">Want to know what we do? Click here to know more!</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
          </div>
      </div>
      <div class="col col-sm-12 col-md-4">
          <div class="card text-center cardBody" style="width: 18rem;">
              <i class="fa fa-comment-o"></i>
              <div class="card-body">
                <h5 class="card-title">Feedback</h5>
                <p class="card-text">Want to tell us something? Good/Bad.. Do it here! </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
          </div>
      </div>
      <div class="col col-sm-12 col-md-4">
          <div class="card text-center cardBody" style="width: 18rem;">
              <i class="fa fa-facebook-official"></i>
              <div class="card-body">
                <h5 class="card-title">Connect with us</h5>
                <p class="card-text">Be updated on what we do! Follow us on Social Media </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
          </div>
      </div>
  </div>
</div>
